@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Add custom font classes here */
@layer components {
	.font-main-title {
		font-family: 'Gentium Plus', serif;
	}

	.font-title {
		font-family: 'Reem Kufi', serif;
	}

	.font-body {
		font-family: 'Noto Sans', serif;
	}
}

/* Define global css styles here */
@layer base {
	/* Hide the scroll bar */
	::-webkit-scrollbar {
		display: none;
	}

	/* Change selection color */
	::selection {
		background: var(--color-primary);
		color: var(--color-on-primary);
		text-shadow: none;
	}

	/* selection for text on primary color */
	.primary-selection::selection {
		background: var(--color-on-primary);
		color: var(--color-primary);
		text-shadow: none;
	}

	/* disable selections */
	img {
		user-select: none;
	}

	.no-selection {
		user-select: none;
	}

	/* text glow */
	.glow {
		text-shadow:
			0px 0px 2rem var(--color-on-primary),
			0px 0px 1rem var(--color-on-primary),
			0px 0px 0.5rem var(--color-on-primary);
	}

	/* make all separators scroll snapped */
	.separator {
		scroll-snap-align: start;
	}

	/* make color primary changes gradually */
	:root {
		transition: --color-primary 500ms;
		scroll-snap-type: y proximity;
		scroll-behavior: smooth;
		font-size: 16px; /* use browser default, 16px = 1 rem */
	}
}

/* Define extra colors here */
@theme {
	/* fixed theme colors */
	--color-holo-blue: #5194ea;
	--color-holo-pink: #ef899a;
	--color-holo-orange: #e99d7c;

	/* shadow colors used for cards and texts */
	--color-holo-pink-shadow: #e0b2b9;

	/* highlight colors, for example used in focus border */
	--color-yellow-highlight: #ffe4a4;
	--color-gray-highlight: #dad7d8;

	/* text colors */
	--color-on-background: #3b3f44;
	--color-on-primary: #ffffff;

	/* the primary color changes when scrolling. if not changing, use the colors above */
	--color-primary: var(--color-holo-blue);

	/* the primary colors are changed to these based on bg colors */
	--color-bg-1: #5194ea;
	--color-bg-2: #59afd1;
	--color-bg-3: #3f5e7f;
	/* --color-bg-4: #38629e; */

	/* background (main) color */
	--color-main: #ffffff;
}

/* registers the primary color as a color property */
/* this allows color to interpolate when setting a duration to gradually transform */
@property --color-primary {
	syntax: '<color>';
	inherits: true;
	initial-value: #5194ea;
}
