@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Add custom font classes here */
@layer components {
	.font-main-title {
		font-family: 'Gentium Plus', serif;
	}

	.font-title {
		font-family: 'Reem Kufi', serif;
	}

	.font-body {
		font-family: 'Noto Sans', serif;
	}
}

@layer base {
	/* Hide the scroll bar */
	/* ::-webkit-scrollbar {
		display: none;
	} */

	/* Change selection color */
	::selection {
		background: var(--color-primary);
		color: var(--color-on-primary);
		text-shadow: none;
	}

	/* selection for text on primary color */
	.primary-selection::selection {
		background: var(--color-on-primary);
		color: var(--color-primary);
		text-shadow: none;
	}

	/* disable selections */
	img {
		user-select: none;
	}

	.no-selection {
		user-select: none;
	}
}

/* Define extra colors here */
@theme {
	--color-holo-blue: #5194ea;
	--color-holo-pink: #ef899a;
	--color-holo-orange: #efa889;
	--color-on-background: #3b3f44; /* text color */
	--color-yellow-highlight: #ffe4a4;
	--color-gray-highlight: #dad7d8;
	--color-on-primary: #ffffff;
	--color-primary: var(
		--color-holo-blue
	); /* color that changes. if not changing, use the colors above */
}
